@page
@using GW.Site.Pages
@model IndexModel

<section class="podcast-hero" style="background-image: url(img/podcast-hero3.jpg)">
    <div class="podcast-hero-inner">
        <div class="container">
            <div class="podcast-hero-content">
                <span class="podcast-hero-date">December 22, 2015</span>
                <h2 class="podcast-hero-title"><a href="podcast.html">Episode #01 - Intro to GOAT Wranglers!</a></h2>
                <ul class="podcast-hero-meta">
                    <li class="item"><a href="#" class="podcast-hero-tag" rel="tag">Coding</a></li>
                    <li class="item"><i class="fa fa-clock-o"></i> 45 mins.</li>
                    <li class="item"><a href="#" class="podcast-hero-download"><i class="fa fa-download"></i> Download</a></li>
                </ul>
            </div>
        </div>
        <div class="podcast-hero-player-content">
            <div class="container">
                <audio src="~/audio/emotional.mp3"></audio>
            </div>
        </div>

    </div>
</section>
<main id="main" class="main">
    @if (Model.NextPost != null)
    {
        <section id="#episodes" class="section-positive">
            <div class="container">
                <h2 class="title-default">Another Episodes</h2>
                <div class="row">
                    <div class="col-sm-12 mb-40">
                        <div class="podcast-card full">
                            <figure class="podcast-image"><a asp-page="/post" asp-route-id="@Model.NextPost.Id.ToString("N")" asp-route-slug="@Model.NextPost.Slug">@Model.NextPost.Title<img src="~/img/cards/podcast-full-thumb.jpg" alt="Seattle" title="Seattle"/></a></figure>
                            <div class="podcast-content">
                                <span class="podcast-date">@Model.NextPost.PublishTime.ToString("MMM dd, yyyy")</span>
                                <h2 class="podcast-title"><a asp-page="/post" asp-route-id="@Model.NextPost.Id.ToString("N")" asp-route-slug="@Model.NextPost.Slug">@Model.NextPost.Title</a>
                                </h2>
                                <p class="podcast-excerpt"><a asp-page="/post" asp-route-id="@Model.NextPost.Id.ToString("N")" asp-route-slug="@Model.NextPost.Slug">@Model.NextPost.Excerpt</a>
                                </p>
                                <ul class="podcast-meta">
                                    <li class="item"><a href="#" class="podcast-tag" rel="tag">Lifestyle</a></li>
                                    <li class="item"><i class="fa fa-clock-o"></i> 37 mins.</li>
                                    <li class="item"><a href="podcast-soundcloud.html" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @foreach (var post in Model.PostSummaries)
                    {
                        <div class="col-sm-6 mb-40">
                            <div class="podcast-card boxed">
                                <figure class="podcast-image"><a asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug">@post.Title<img src="~/img/cards/podcast-boxed-thumb.jpg" alt="Biking" title="Biking"/></a></figure>
                                <div class="podcast-content">
                                    <span class="podcast-date">December 19, 2015</span>
                                    <h2 class="podcast-title"><a href="podcast-video.html">Episode #06 - You can also post a video</a>
                                    </h2>
                                    <p class="podcast-excerpt"><a href="podcast-video.html">This is a boxed podcast layout. Lorem ipsum dolor sit amet, consectetur adipisicing elit...</a>
                                    </p>
                                    <ul class="podcast-meta">
                                        <li class="item"><a href="#" class="podcast-tag" rel="tag">Lifehacks</a></li>
                                        <li class="item"><i class="fa fa-clock-o"></i> 51 mins.</li>
                                        <li class="item"><a href="podcast-video.html" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-sm-12 mb-50">
                        <a href="podcasts.html" class="btn btn-primary btn-block btn-lg">View more episodes</a>
                    </div>

                </div>

            </div>
        </section>
    }
    <section id="about-us" class="section-negative">
        <div class="container">

            <!-- ===== SECTION TITLE ===== -->
            <h2 class="title-default text-center">Behind the mic...</h2>

            <div class="row mb-30">

               

                <!-- ===== TEAM CARD ===== -->
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 mb-40">
                    <div class="team-card">
                        <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure class="team-card-image"><img src="~/img/team/jkarr-54_bw.jpg" alt="Joel Karr" title="Joel Karr"/></figure>
                        </div>
                            <div class="team-card-content col-lg-8 col-md-8 col-sm-8">
                            <h2 class="team-card-title">Joel Karr</h2>
                            <p class="team-card-job">Main Caster / Coder / Speaker</p>
                            <p class="team-card-description">Joel has spoken at various tech conferences across the midwest.  He blogs at www.joelkarr.com and has been an early adopter for many of services for Azure. </p>
                            <ul class="team-card-social">
                                <li class="social-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social-item"><a href="#" target="_blank"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

               

            </div>

        </div>
    </section>

    <!-- ===== NEWSLETTER ===== -->
    <section class="section-positive text-center">
        <div class="container">

            <!-- ===== SECTION TITLE ===== -->
            <h2 class="title-default">Never miss an episode</h2>
            <p class="section-description">Form with MailChimp ready, just change the action! Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br/> Vel modi rem laudantium, alias minus temporibus nihil reiciendis vero.
            </p>

            <!-- ===== FORM NEWSLETTER ===== -->
            <form action="//myaccount.us10.list-manage.com/subscribe/post?u=599a4d2b746f06b367c5f8085&amp;id=f429f2b2f5" method="POST" target="_blank" class="form-newsletter validate">
                <fieldset class="row">
                    <div class="col-md-9 nopadding">
                        <input type="email" name="EMAIL" class="form-control form-negative" id="email-newsletter" placeholder="Your email" required/>
                    </div>
                    <div class="col-md-3 nopadding">
                        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>

    <!-- ===== DONATE ===== -->
    <section id="donate" class="section-highlight text-center">
        <div class="container">

            <!-- ===== SECTION TITLE ===== -->
            <h2 class="title-default">We need your help</h2>
            <p class="section-description">Help us support the show! Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br/> Vel modi rem laudantium, alias minus temporibus nihil reiciendis vero.
            </p>

            <!-- ===== DONATE VALUES ===== -->
            <div class="row mb-50">

                <div class="col-lg-3 col-sm-6 mb-20">
                    <a href="#" class="btn btn-default btn-round btn-lg btn-block">U$ 5</a>
                </div>

                <div class="col-lg-3 col-sm-6 mb-20">
                    <a href="#" class="btn btn-default btn-round btn-lg btn-block">U$ 10</a>
                </div>

                <div class="col-lg-3 col-sm-6 mb-20">
                    <a href="#" class="btn btn-default btn-round btn-lg btn-block">U$ 25</a>
                </div>

                <div class="col-lg-3 col-sm-6 mb-20">
                    <a href="#" class="btn btn-default btn-round btn-lg btn-block">U$ 50</a>
                </div>

            </div>

        </div>
    </section>

</main>


